<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
    body
    {
      background-color: lightgreen;
    }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>Tamagotchi is your tomodachi</h1>
    <form action="/Tamagotchi/status" method="post">
      <label for="newpet">Enter a Name for your Tamagotchi</label>
      <input id="newpet" name="newpet" type="text" class="form-control">
      <button type="submit">Submit</button>
    </form><br>
    <a href="/Tamagotchi/status">View Tamagotchi's</a><br>



    <a href="/">Home</a>
    </div>
  </body>
</html>
